### Playing with dictionaries

In [ ]:
# empty_dictionary
ipl_teams = {}

In [1]:
# key is of type string and vaule is of type string
ipl_teams = {
    'Hyderabad': 'Sun Risers Hyderabad',
    'Mumbai': 'Mumbai Indians'
}

In [2]:
# access values
ipl_teams['Hyderabad']

'Sun Risers Hyderabad'

In [3]:
# set values
ipl_teams['Chennai'] = 'Chennai Super Kings'

In [4]:
ipl_teams

{'Hyderabad': 'Sun Risers Hyderabad',
 'Mumbai': 'Mumbai Indians',
 'Chennai': 'Chennai Super Kings'}

In [9]:
# loop through dictionary
print('city ==> team name')
print('-----------------------')
for city, team_name in ipl_teams.items():
    print(city, end=" ==> ")
    print(team_name)

city ==> team name
-----------------------
Hyderabad ==> Sun Risers Hyderabad
Mumbai ==> Mumbai Indians
Chennai ==> Chennai Super Kings

In [10]:
# loop through keys
for city in ipl_teams.keys():
    print(city)

Hyderabad
Mumbai
Chennai

In [11]:
# loop through values
for team_name in ipl_teams.values():
    print(team_name)

Sun Risers Hyderabad
Mumbai Indians
Chennai Super Kings

In [14]:
for team in ipl_teams:
    print(type(team))
    print(team)
    print(ipl_teams[team])

<class 'str'>
Hyderabad
Sun Risers Hyderabad
<class 'str'>
Mumbai
Mumbai Indians
<class 'str'>
Chennai
Chennai Super Kings

In [15]:
ipl_teams

{'Hyderabad': 'Sun Risers Hyderabad',
 'Mumbai': 'Mumbai Indians',
 'Chennai': 'Chennai Super Kings'}

In [16]:
# trying to access a non existent team
ipl_teams['Delhi']

KeyError: 'Delhi'

In [18]:
result = ipl_teams.get('Delhi')
print(result)

None

In [19]:
# copying dictionaries
my_ipl_teams = ipl_teams
my_ipl_teams['Delhi'] = 'Delhi Capitals'

In [20]:
ipl_teams

{'Hyderabad': 'Sun Risers Hyderabad',
 'Mumbai': 'Mumbai Indians',
 'Chennai': 'Chennai Super Kings',
 'Delhi': 'Delhi Capitals'}

In [21]:
my_other_ipl_teams = ipl_teams.copy()

In [22]:
my_other_ipl_teams['Bangalore'] = 'Royal Challengers Bengaluru'

In [23]:
ipl_teams

{'Hyderabad': 'Sun Risers Hyderabad',
 'Mumbai': 'Mumbai Indians',
 'Chennai': 'Chennai Super Kings',
 'Delhi': 'Delhi Capitals'}